<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <link rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
    </head>
    <body>
        <h1>A <%= title %> traz o melhor plano para você</h1>
        <!--<ul>
        Planos:
         <%/* Plans.forEach(function(key) { %>
            <li><%= key.name %> limite de minutos <%= key.limit %></li>
        <% }); %>
        <% Prices.forEach(function(key) { %>
            <li><%= key.origin %> | <%= key.destiny %> | <%= key.price %></li>
        <% });*/ %>
    </ul>-->
        <div class="container">
            <a href="" class="btn btn-primary"></a>
            <input type="text" id="chamadaOrigem" placeholder="Digite o DDD de origem.">
            <input type="text" id="chamadaDestino" placeholder="Digite o DDD de destino.">
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</html>
