<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <link rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
    </head>
    <body>
        <nav class="navbar navbar-light bg-primary" >
              <a class="navbar-brand mb-0 h1" href="#"><%= title %></a>
        </nav>
        <div class="container">
            <!-- <h1><%= title %></h1> -->
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm">
                    <h3>Com o FaleMais você pode mais!</h3>
                </div>
                <div class="col-md"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm">
                    <form enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <input type="text" id="chamadaOrigem" name="origem" class="form-control" placeholder="Digite o DDD de origem.">
                            <input type="text" id="chamadaDestino" name="destino" class="form-control" placeholder="Digite o DDD de destino.">
                            <input type="text" id="tempoChamada" name="tempo" class="form-control" placeholder="Digite o tempo de chamada.">
                            <select id="selectPlano" class="custom-select form-control" placeholder="Escolha o sey plano." required>
                                <option value="" selected>Escolha o plano</option>
                                <% Plans.forEach(function(key) { %>
                                    <option value="<%= key.limit %>"><%= key.name %></option>
                                    <% }); %>
                            </select>
                            <input type="submit" class="btn btn-primary form-control" value="Verificar"></input>
                        </div>
                    </form>
                </div>
                <div class="col-ls col-sm">
                    <table class="table table-bordered table-light">
                        <thead>
                            <tr>
                                <th scope="col">Origem</th>
                                <th scope="col">Destino</th>
                                <th scope="col">Sem Plano</th>
                                <th scope="col">Com Plano</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="tdOrigem">*</td>
                                <td id="tdDestino">*</td>
                                <td id="tdStdValue">*</td>
                                <td id="tdNewValue">*</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</html>
